

.filter-card {
  display: flex;
  margin: 20px;
}

.filter-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-button {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.divider {
  margin: 10px;
}

mat-button-toggle-group {
  margin-top: 4px;
}

mat-button-toggle {
  margin: 0 auto;
  width: 40px;
  height: 100%;
}

.toggle-group {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-label {
  margin-top: 17px;
}

.toggle-label {
  margin: 10px 0;
}

.container {
  width: 100%;
}
