<div class="filter-field">
  <div class="toggle-group">
  <mat-slider
  min="0" max="7000" step="500" value="1500" thumbLabel [displayWith]="formatLabel" (change)="onPriceChange($event)"></mat-slider>
  <div class="toggle-label">
  <label class="price-label">Max Price</label>
</div>
<div>{{price | currency}}</div>
</div>
  <!-- <mat-form-field appearance="outline">
    <mat-label>Max price</mat-label>
    <input matInput #price placeholder="no max" />
  </mat-form-field> -->
  <div class="toggle-group">
  <mat-button-toggle-group (change)="onBedroomChange($event)" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="1">1</mat-button-toggle>
    <mat-button-toggle value="2">2</mat-button-toggle>
    <mat-button-toggle value="3">3</mat-button-toggle>
    <mat-button-toggle value="4">4</mat-button-toggle>
    <mat-button-toggle value="5">5+</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="toggle-label">
  <label>Bedrooms</label>
</div>
</div>
<div class="toggle-group">
  <mat-button-toggle-group (change)="onBathroomChange($event)" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="1">1</mat-button-toggle>
    <mat-button-toggle value="2">2</mat-button-toggle>
    <mat-button-toggle value="3">3</mat-button-toggle>
    <mat-button-toggle value="4">4</mat-button-toggle>
    <mat-button-toggle value="5">5+</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="toggle-label">
  <label>Bathrooms</label>
</div>
</div>
  <!-- <mat-form-field appearance="outline">
    <mat-label>Number of bedrooms</mat-label>
    <input matInput #bedrooms placeholder="any" />
  </mat-form-field> -->
  <!-- <mat-form-field appearance="outline">
    <mat-label>Number of bathrooms</mat-label>
    <input matInput #bathrooms placeholder="any" />
  </mat-form-field> -->
</div>

<!-- <div class="filter-button">
  <button
    mat-raised-button
    color="primary"
    (click)="onShowApartments(price, bedrooms, bathrooms)"
  >
    Show Apartments
  </button>
</div> -->
